* {
    font-family: arial;
    font-size: 12pt;
    line-height: 1.5em;
}

h1, h2, h3 {
    color: rgb(201, 201, 6);
}

.blog-parent {
    width: 80%;
    margin: auto;
}

ul {
    padding-left: 2em;
}

p {
    text-indent: 2em;
}