<div class="mat-typography app-frame mat-app-background">

  <div class="home-row">

    <!-- AD SPACE -->
    <div (window:resize)="onResize($event)">
        <div class="blankspace-sm"><!-- space holder --></div>
        <div *ngIf="!appState.getIsMobileResolution()">
            <div class="home-column-sm">

              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7709355759548200"
              crossorigin="anonymous"></script>
         <!-- Home Page Left Top -->
         <ins class="adsbygoogle"
              style="display:block"
              data-ad-client="ca-pub-7709355759548200"
              data-ad-slot="9262486858"
              data-ad-format="auto"
              data-full-width-responsive="true"></ins>
         <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
         </script>

            </div>
        </div>
    </div>
    <div class="home-column-lg">
        <div class="home-parent" layout="column">

          <!-- Welcome -->
          <div>
            <img alt="Welcome to Starship Fluke" class="title-image" src="assets/title.jpg">
          </div>

          <!-- mailing list form -->
          <div style="padding: 5px; border: 2px solid rgb(173, 173, 173);">
            <form *ngIf="emailShown" class="email-input" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
              <input class="email-input-field" style="width: 110px;" formControlName="email" email>
                <button [disabled]="emailForm.invalid" class="email-button" type="submit">GO!</button>
            </form>
            <img class="email-image" src='{{ emailImage }}' alt="Email sign up for Starship Fluke updates">
          </div>

          <!-- Latest comic -->
          <div style="padding: 10px; display: flex; align-items: center;">
            <div style="padding: 10px;">
              <label class="accent-color" style="font-size: 20pt;">Latest Comic:</label><br/>
              <label style="font-size: 14pt;">{{ recentComicTitle }}</label>
            </div>
            <a [routerLink]="['/starshipfluke', recentComicNum]"><img alt="Episode {{ recentComicNum }} - {{ recentComicTitle }}" src="{{ latestComicImage }}"></a>
          </div>

          <!-- Update messages -->
          <div class="update-table">
            <label>UPDATES:</label>
            <table mat-table [dataSource]="updates" class="mat-elevation-z8">

              <!-- Message Column -->
              <ng-container matColumnDef="Message">
                <th mat-header-cell *matHeaderCellDef> Message </th>
                <td mat-cell *matCellDef="let element">
                  <label style="color: #e1d716">{{ element.date }}</label><br/>
                  {{ element.message }}
                  <a class="accent-color" routerLink="{{ element.link }}" fragment="{{ element.fragment }}">{{ element.linkMessage }}</a>
                </td>
              </ng-container>

              <!-- Image Column -->
              <ng-container matColumnDef="Image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element"><a routerLink="{{ element.link }}" fragment="{{ element.fragment }}"><img alt="Starship Fluke update from {{ element.date }}" width="80px" src="{{element.image}}"></a></td>
              </ng-container>

              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

          <!-- copyright notice -->
          <h1 style="visibility: hidden;">Starship Fluke Home Page</h1>
          <div class="home-copyright">Copyright &copy; 2022 WJ Torlander, Art & Website, All Rights Reserved</div>
        </div>
    </div>
  </div>

</div>