<div class="mat-typography app-frame mat-app-background">

  <div>

    <!-- AD SPACE -->
    <div (window:resize)="onResize($event)">
      <div class="blankspace-sm"></div>
      <div *ngIf="!appState.getIsMobileResolution()">
        <div class="home-column-sm"></div>
      </div>
    </div>

    <div>
      <!-- Welcome -->
      <div>
        <img class="center" style="max-width:800px;" alt="Welcome to Starship Fluke" src="assets/title.jpg">
      </div>

      <!-- Latest Posts -->
      <div class="center">
        <ng-container *ngIf="posts$ | async; let posts">
          <label class="accent-color" style="font-size: 20pt;">Latest Posts:</label>

          <!-- <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;"> -->
          <div style="display: grid; grid-gap: 10px; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));">
            <app-post-box *ngFor="let post of posts" [post]="post"></app-post-box>
          </div>

          <!-- <span *ngIf="hasMore$ | async">
                <button type="button" (click)="loadMore()">
                  Load More
                </button>
              </span> -->
        </ng-container>
      </div>

      <div class="blankspace-sm"><!-- space holder --></div>

      <!-- Latest comic -->
      <div class="center-contents">
        <span style="padding: 10px;">
          <label class="accent-color" style="font-size: 20pt;">Latest Comic:</label><br />
          <label style="font-size: 14pt;">{{ recentComicTitle }}</label>
        </span>
        <a [routerLink]="['/starshipfluke', recentComicNum]"><img
            alt="Episode {{ recentComicNum }} - {{ recentComicTitle }}" src="{{ latestComicImage }}"></a>
      </div>

      <div class="blankspace-sm"><!-- space holder --></div>

      <!-- mailing list form -->
      <div class="center-contents"
        style="margin:auto; max-width:700px; padding: 5px; border: 2px solid rgb(173, 173, 173);">
        <form *ngIf="emailShown" class="email-input" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
          <input class="email-input-field" style="width: 110px;" formControlName="email" email>
          <button [disabled]="emailForm.invalid" class="email-button" type="submit">GO!</button>
        </form>
        <img class="email-image" src='{{ emailImage }}' alt="Email sign up for Starship Fluke updates">
      </div>

      <div class="blankspace-sm"><!-- space holder --></div>

      <div class="center-contents" style="margin:auto; display:block; max-width:500px;">
        <label class="accent-color" style="font-size: 14pt;">Only the Zoltan can predict your retro-gaming
          future!</label><br />
        <a href="https://retrozoltan.com/" target="_blank"><img src="assets/retrozoltan_ad.jpg" id="responsive-ad"></a>
      </div>
      <!-- copyright notice -->
      <h1 style="visibility: hidden;">Starship Fluke Home Page</h1>
      <div class="home-copyright">Copyright &copy; 2023 WJ Torlander, Art & Website, All Rights Reserved</div>
    </div>
  </div>

</div>