.blankspace-sm {
    display:block;
    width:100%;
    height:40px;
}

.home-parent {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.home-row {
    display: flex;
}
  
.home-column-sm {
    flex: 20%;
    min-width: 250px;
}

.home-column-lg {
    flex: 80%;
}

.home-copyright {
    opacity: 0.5;
    text-align: center;
    padding: 20px;
}

.home-ad-margins {
    margin: 5px;
    border: 1px solid rgb(69, 69, 69);
}

.title-image {
    width: 90%;
    margin: auto;
    display: block;
}

.email-image {
    width: 350px;
}

.email-input {
    position: absolute;
    margin-top: 64px;
    margin-left: 186px;
    z-index: 20;
}

.email-button {
    border-radius: 15%;
    box-shadow: none;
    width: 50px;
    height: 30px;
}

.email-input-field.ng-invalid.ng-touched {
    border: 2px solid red;
}

.update-image {
    width: 60px;
}

.update-table {
    margin: 5px;
}

.mat-row {
  height: 50px;
}
  
.mat-cell {
  padding: 10px;
}

.mat-row:nth-child(even){
    background-color: rgb(57, 57, 57);
}

.mat-column-Date {
    width: 10%
}

.mat-column-Message {
    width: 80%
}

