<button mat-button style="width: 80px; margin:10px; margin-top:20px;"
    [routerLink]="'/'"><mat-icon>arrow_back_ios</mat-icon></button>

<div class="post-card-content" *ngIf="post$ | async; let post">
    <div class="flex justify-between">
        <div>{{post.date | date: 'longDate'}}</div>
    </div>
    <h1>
        <div>{{ post.title }}</div>
    </h1>
    <img *ngIf="postImgUrl" [src]="this.postImgUrl" class="post-card-image-large" alt="{{ post.title }}" />
    <div [innerHTML]="this.postHtml"></div>
</div>

<div class="blankspace-sm"><!-- space holder --></div>

<div class="center-contents">
    <iframe width="560" height="315"
        src="https://www.youtube.com/embed/videoseries?list=PL4W2YBP5HyrAO1D3YJ-mNYj7-mp8XwrGF"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
    </iframe>
</div>

<div class="blankspace-sm"><!-- space holder --></div>