#responsive-image {
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
}

.copyright {
    opacity: 0.5;
    text-align: center;
}

.center-block {
    display: block;
    margin: 10px;
    width: 90%;
    text-align: center;
}

.bigger-font {
    font-size: 20px !important;
}