<div class="blog-parent">
    <h1>Drawing Tablets With vs. Without Screens</h1> 
     <p>I've been drawing cartoons for years as an aspiring webtoon artist and have bounced between using a dedicated, screen-less drawing tablet, such as a Wacom Intuos, vs. a full-on tablet with a screen, such as the Microsoft Surface. While they both have their use cases, here is my take on the pros and cons of each.</p>
<h2>Full Screen Tablet</h2>
  
<h3>Pros:</h3>
<h4>More "natural" like drawing on paper/notebook (sort of)</h4>
<ul>
<li>Still feels like using a plastic pen on glass, but you can find surface protectors designed to give a more paper-like feel</li>
</ul>
<h4>Pen to surface synchronicity</h4>
<ul>
<li>This is something you take for granted when you put an actual pencil to paper; the fact that a line appears where you place the pencil!</li>
</ul>
<h4>Portability</h4>
<ul>
<li>These are king if you intend to draw while sitting under a tree in a park or while on the subway</li>
</ul>
<h3>Cons:</h3>
<h4>Battery life</h4>
<ul>
<li>Since drawing requires the screen to be on at all times, you'll get the minimum battery life out of your device</li>
</ul>
<h4>Heat</h4>
<ul>
<li>Holding the tablet with the screen constantly on can actually get noticeably hot in your hands</li>
</ul>
<h4>Lack of function buttons</h4>
<ul>
<li>While most dedicated drawing tablets with screens do come with programmable function keys both physical and virtual, they never seem to be enough</li>
</ul>
<h4>Less screen real estate</h4>
<ul>
<li>If you're using a complex program such as Adobe Photoshop, Clip Studio Paint or even Gimp then you'll want more screen space for the myriad of buttons and features</li>
</ul>
<h4>Cost</h4>
<ul>
    <li>Tablets with screens which have an LPI (Lines Per Inch) high enough to provide a useful drawing experience can be costly. I ended up going with a used, 2017 5th Gen Microsoft Surface since it had sufficient computing power and a high LPI for around $350. On the other end of the spectrum, you could get a 2021 iPad Pro for about $1,000</li>
</ul>
<p></p>
<h2>Screen-less Drawing Tablet</h2>
  
<h3>Pros:</h3>
<h4>Have all the power of your workstation</h4>
<ul>
    <li>If you have a PC at home, like me, and use complex programs to create with (e.g. Photoshop, Clip Studio Paint, Gimp) then this gives you the use of that computing power
</ul>
<h4>Screen space</h4>
<ul>
    <li>If you have a 24" monitor, then you'll be able to take advantage of it while still having the ability to draw with a pen
</ul>
<h4>Cost</h4>
<ul>
    <li>Definitely fits a tight budget better. The HUION Inspiroy Q11K (pictured above) is the one I use and comes in at an affordable $70. I also have an older Wacom which still works great which only cost me about $40.
</ul>
<h3>Cons:</h3>
<h4>Not portable</h4>
<ul>
    <li>Most screen-less drawing tablets are wireless but it makes little difference if your whole PC has to come along with it!
</ul>
<h4>Disassociated pen to screen movements</h4>
<ul>
    <li>We're all comfortable with moving a mouse and knowing that the on-screen cursor will go where we command - but this is different. There's a learning curve for sure. I promise - you will get used to it, but at first it's going to feel odd as heck moving that pen on a surface flat on the desk in front of you and seeing the lines form on a monitor some distance away.
</ul>
<h4>Less "natural"</h4>
<ul>
    <li>From my experience, the screen-less drawing tables feel a bit less like writing with a plastic pen on glass than tablets with screens - but not by much. Also, the above mentioned disassociated pen to screen movement can be disorienting at first.
</ul>
<h4>Takes up desk space</h4>
<ul>
    <li>If you have a workstation which is totally dedicated to your art then this doesn't matter. But if you're like me and do everything on your computer including pay bills, browse, watch movies, etc., then sometimes having this big black panel in front of you can get annoying.
</ul>
<p></p>
<p>That's about it! I hope my experience has helped lean your tablet decision one way or the other. Have fun drawing!</p>
</div> 