@use '@angular/material' as mat;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$pink-palette),
        accent: mat.define-palette(mat.$blue-grey-palette),
      ),
      // Only include `typography` and `density` in the default dark theme.
      typography: mat.define-typography-config(),
      density: 0,
    ));

// Define a light theme
$light-theme: mat.define-light-theme((color: (primary: mat.define-palette(mat.$indigo-palette),
        accent: mat.define-palette(mat.$pink-palette),
      ),
    ));

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
}

.mat-app-background {
  background-color: #000000;
}

@font-face {
  font-family: "xolonium-regular";
  src: local("xolonium-regular"), url(./assets/fonts/Xolonium-Regular.otf) format("opentype");
}

* {
  font-family: 'xolonium-regular';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-card-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.post-card-panel {
  background-color: rgb(53, 53, 53);
  text-align: center;
  width: 250px;
  height: 350px;
}

.post-card-image-large {
  display: block;
  width: 70%;
  padding: 10px;
  max-width: 300px;
  height: auto;
}

.post-card-image-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 10px;
  max-width: 300px;
  height: auto;
}

//
// CSS for code highlighting. Copied from tokyo-night-darkness.scss
//

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  font-family: monospace;
}

code.hljs {
  padding: 3px 5px;
  font-family: monospace;
}

/*!
  Theme: Tokyo-night-Dark
  origin: https://github.com/enkia/tokyo-night-vscode-theme
  Description: Original highlight.js style
  Author: (c) Henri Vandersleyen <hvandersleyen@gmail.com>
  License: see project LICENSE
  Touched: 2022
*/
.hljs-comment,
.hljs-meta {
  color: #6bbc73;
  font-family: monospace;
}

.hljs-deletion,
.hljs-doctag,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-tag,
.hljs-template-tag,
.hljs-variable.language_ {
  color: #f7768e;
  font-family: monospace;
}

.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-params,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #ff9e64;
  font-family: monospace;
}

.hljs-attribute,
.hljs-built_in {
  color: #ffcb7e;
  font-family: monospace;
}

.hljs-keyword,
.hljs-property,
.hljs-subst,
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #97d9ff;
  font-family: monospace;
}

.hljs-selector-tag {
  color: #73daca;
  font-family: monospace;
}

.hljs-addition,
.hljs-bullet,
.hljs-quote,
.hljs-string,
.hljs-symbol {
  color: #9ece6a;
  font-family: monospace;
}

.hljs-code,
.hljs-formula,
.hljs-section {
  color: #7aa2f7;
  font-family: monospace;
}

.hljs-attr,
.hljs-char.escape_,
.hljs-keyword,
.hljs-name,
.hljs-operator {
  color: #bb9af7;
  font-family: monospace;
}

.hljs-punctuation {
  color: #c0caf5;
  font-family: monospace;
}

.hljs {
  background: #13141c;
  color: #9aa5ce;
  font-family: monospace;
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 700
}

p {
  font-family: arial;
}

h1 {
  font-family: arial;
  color: rgb(241, 159, 27)
}

h2 {
  font-family: arial;
  color: rgb(195, 132, 32)
}

h3,
h4,
h5 {
  font-family: arial;
  color: rgb(216, 213, 19)
}

a {
  font-family: arial;
  color: rgb(130, 214, 243)
}

li {
  font-family: arial;
  color: rgb(231, 249, 255);
  margin-left: 20px;
}