@use '@angular/material' as mat;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$pink-palette),
        accent: mat.define-palette(mat.$blue-grey-palette),
      ),
      // Only include `typography` and `density` in the default dark theme.
      typography: mat.define-typography-config(),
      density: 0,
    ));

// Define a light theme
$light-theme: mat.define-light-theme((color: (primary: mat.define-palette(mat.$indigo-palette),
        accent: mat.define-palette(mat.$pink-palette),
      ),
    ));

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
}

.mat-app-background {
  background-color: #000000;
}

@font-face {
  font-family: "xolonium-regular";
  src: local("xolonium-regular"), url(./assets/fonts/Xolonium-Regular.otf) format("opentype");
}

* {
  font-family: 'xolonium-regular';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-card-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.post-card-panel {
  background-color: rgb(53, 53, 53);
  text-align: center;
  width: 250px;
  height: 350px;
}

.post-card-image-large {
  display: block;
  // margin-left: auto;
  // margin-right: auto;
  width: 70%;
  padding: 10px;
  max-width: 300px;
  height: auto;
}

.post-card-image-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 10px;
  max-width: 300px;
  height: auto;
}